body {
	font-family:"Helvetica";
	text-align:center;
/*	padding:50px 20px 0;*/
	background:#f4f4f7;
	color:#444;
	margin:0
	}

h1 {
	font-size:65px;
	line-height:1.2em;
	/*border-bottom:#CCC solid 1px;*/
	padding:200px 0 0 0;
	text-align:center;
	color: white;
	}

h2 {
	font-weight:300;
	color: white;
	}

#featuredProj {
	margin: 0 auto;

}

#featuredProj img {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 500px;
}

header {
	background-image: url('img/headerBackground.jpg');
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
}

.circle img {
	border-radius: 50%;
}

#wrapper {
	max-width: 1000px;
	background: #66CCFF;
	background: rgba(102, 204, 255, 0.7);
	margin: 0 auto;
}
