/*define  box-sizing for all the elements */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

/* define a flex container */
#wrapper-all{
    display: flex;
    flex-flow: column nonwrap;
    background-color: #f8f8ff;
    margin: auto;
    padding: 15px;
    border-top: 1px solid #E1E8ED;
    border-bottom: 1px solid #E1E8ED;
    font-size: 16px;
}

.tweet-content{
    padding: 0 10px;
    flex-grow: 2;
}

.tweet-content p{
    margin: 0;
}

.twitter-user{
    text-decoration: none;
    color: #8899A6;
}

.tweet-time{
    color: #8899A6;
    font-size: 13px;
}
