html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************************/


body {
    width: 100%;
    display: inline-block;
    font-family: "Helvetica";
}

/************* MENU BAR **************/

.menu {
    top: 15px;
    left: 15px;
    position: fixed;
    z-index: 999;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
}

.menu::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.menu:before {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.menu:after {
  content: "";
  display: block;
  border-bottom: 4px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navbar {
  display: none;
  background: #918888;
}

.navbar:checked ~ .menu {
    top: 15px;
    left: 15px;
    position: fixed;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.navbar:checked ~ .menu:before {
  -ms-transform: rotate(-405deg) translateY(1px) translateX(-3px);
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.navbar:checked ~ .menu:after {
  -ms-transform: rotate(405deg) translateY(-4px) translateX(-5px);
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.list {
    top: 40px;
    left: 15px;
    position: fixed;
    width: 100%;
  background: #918888;    
  z-index: 999;
    overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}

.navbar:checked ~ .list {
  max-height: 100%;
  width: 100%;
  -webkit-transition: max-height 0.5s ease-in-out;
          transition: max-height 0.5s ease-in-out;
}

.list a {
  color: inherit;
}


.list ul {
  margin: 0;
  padding: 0;
}

.list ul li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}
.list ul li a {
  text-decoration: none;
}
.list ul li a:hover {
  text-decoration: underline;
}

/*********************************/

header {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    font-size:65px;
    padding: 30px 0 0 0;
    text-align:center;
    color: black;
    }

h2 {
    font-weight:300;
    color: black;
    text-align: center;
    font-size: 35px;
    }

h3 {
    font-size: 30px;
}

.circle img {
    border-radius: 50%;
/*    max-width:100%;
    max-height: 100%;*/
}


#team-profiles{
    padding-left: 20px;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    display: inline-block;
    float: left;
}

#team-profiles:focus~#member-story #default{
    display:none;
}

/*#Alex:focus #Alex-story {
    display: block;
}*/

#member-story div{
    display: inline-block;
    width: 55%;
    padding: 20px;
    background-color: gray;
    height: 55vh;
}

#Alex-story {
    display: none;
}

/*.profile {
    max-width: 100%;
    max-height: 100%;
}*/

.profile p {
    padding-bottom: 30px;
}

footer {
    clear: both;
    text-align: center;
    background-color:black;
    width: 100%;
    padding: 50px 0;
    color:white;

}

/*    position: absolute;
    bottom: 0;*/

#Alex:hover~h3{
  color: red;
}


/*define  box-sizing for all the elements
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
}

/* define a flex container */
/*#wrapper-all{
    display: flex;
    flex-flow: column nonwrap;
    background-color: #f8f8ff;
    margin: auto;
    padding: 15px;
    border-top: 1px solid #E1E8ED;
    border-bottom: 1px solid #E1E8ED;
    font-size: 16px;
}

.tweet-content{
    padding: 0 10px;
    flex-grow: 2;
}

.tweet-content p{
    margin: 0;
}

.twitter-user{
    text-decoration: none;
    color: #8899A6;
}

.tweet-time{
    color: #8899A6;
    font-size: 13px;
}*/

